<div class="flex items-center justify-center p-6 transition-colors duration-500 bg-transparent">
  <div
    class="relative w-full max-w-md p-6 sm:p-8 md:p-10 rounded-3xl backdrop-blur-md
           border border-gray-700 dark:border-purple-800/50 shadow-xl
           transition-transform transform hover:scale-[1.015] duration-300 group"
    role="main"
    aria-label="Login Form Container"
  >
    <div
      class="absolute -inset-1 bg-gradient-to-r from-purple-500 via-fuchsia-500 to-indigo-500
             rounded-3xl blur-xl opacity-25  group-hover:opacity-60 transition duration-500 z-0 pointer-events-none"
      aria-hidden="true"
    ></div>

    <form (ngSubmit)="loginSubmit()" [formGroup]="loginform" class="relative z-10 flex flex-col gap-6" novalidate>
      <h2 class="text-white text-4xl font-extrabold text-center drop-shadow-xl select-none">
        Login
      </h2>
      @if (errMessage().length > 0) {
         <span class="text-xl text-red-400">{{errMessage()}}</span>
      }

      <div class="flex flex-col gap-2">
        <label for="email" class="text-sm font-medium text-gray-300">Name</label>
        <input formControlName="username"
          id="email"
          type="email"
          placeholder="Enter your name"
          required
          autocomplete="email"
          class="px-5 py-4 rounded-xl bg-zinc-800/90 text-white placeholder-gray-400
                 focus:outline-none focus:ring-4 focus:ring-purple-500/60
                 shadow-inner shadow-black/50 transition duration-300"
          aria-describedby="emailHelp"
        />
      </div>
      @if (loginform.get('username')?.errors && loginform.get('username')?.touched ) {
        <span class="text-xl text-red-400">Name Is Required</span>
      }
      <div class="flex flex-col gap-2">
        <label for="password" class="text-sm font-medium text-gray-300">Password</label>
        <input
        formControlName="password"
          id="password"
          type="password"
          placeholder="••••••••"
          required
          autocomplete="current-password"
          class="px-5 py-4 rounded-xl bg-zinc-800/90 text-white placeholder-gray-400
                 focus:outline-none focus:ring-4 focus:ring-purple-500/60
                 shadow-inner shadow-black/50 transition duration-300"
          aria-describedby="passwordHelp"
        />
      </div>
      @if (loginform.get('password')?.errors && loginform.get('password')?.touched ) {
        <span class="text-xl text-red-400">Password Is Required</span>
      }
      <button
        type="submit"
        class="mt-4 bg-gradient-to-r from-purple-600 to-indigo-600 hover:from-purple-700 hover:to-indigo-700
               text-white font-semibold py-3 md:py-4 rounded-xl shadow-lg shadow-purple-900/40
               transition-all duration-300 focus:outline-none focus:ring-4 focus:ring-purple-500 focus:ring-opacity-70"
      >
        Log In
      </button>
    </form>
  </div>
</div>
